/* colors classes */

.primary-text-color{
    color: var(--primary);
}

.secondary-text-color{
    color: var(--secondary);
}

.mw-80 {
  max-width: 80vh;
}

/* Margin Horizontal */

.mx-1 {
  margin: 0 var(--size-1);
}

.mx-2 {
  margin: 0 var(--size-2);
}

.mx-3 {
  margin: 0 var(--size-3);
}

.mx-4 {
  margin: 0 var(--size-4);
}

.mx-5 {
  margin: 0 var(--size-5);
}

.mx-6 {
  margin: 0 var(--size-6);
}

.mx-7 {
  margin: 0 var(--size-7);
}

.mx-8 {
  margin: 0 var(--size-8);
}

/* Margin Vertical */

.my-1 {
  margin: var(--size-1) 0;
}

.my-2 {
  margin: var(--size-2) 0;
}

.my-3 {
  margin: var(--size-3) 0;
}

.my-4 {
  margin: var(--size-4) 0;
}

.my-5 {
  margin: var(--size-5) 0;
}

.my-6 {
  margin: var(--size-6) 0;
}

.my-7 {
  margin: var(--size-7) 0;
}

.my-8 {
  margin: var(--size-8) 0;
}